<% content_for :title, 'Search' -%>

<h1 class="title"><%= "Search `#{@term}` in #{@folder.name}" %></h1>

<%= concept(Boxroom::Folder::Cell::Show, nil,
            folders: @folders,
            files: @files,
            current_user: current_user
    ) %>

<div class="field">
  <div class="control">
    <%= link_to t(:back), @folder, class: 'button is-text' %>
  </div>
</div>