<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a href="https://github.com/sergey-koba-mobidev/boxroom-engine" target="_blank">Boxroom</a> is released under the <a href="https://github.com/sergey-koba-mobidev/boxroom-engine/blob/master/MIT-LICENSE" target="_blank">MIT license</a>
      </p>
    </div>
  </div>
</footer>
