<div id="menu">
  <p class="menu">
    <% if signed_in? -%>
        <%= link_to t(:folders), folders_path %>
        <% if current_user.member_of_admins? -%>
            <% if Boxroom.configuration.show_users %>
                <%= link_to t(:users), users_path %>
            <% end %>
            <% if Boxroom.configuration.show_groups %>
                <%= link_to t(:groups), groups_path %>
            <% end %>
            <% if Boxroom.configuration.show_shared_files %>
                <%= link_to t(:shared_files), share_links_path %>
            <% end %>
        <% end -%>
    <% end -%>
    &nbsp;
  </p>
</div>
